[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = HelloWorld
[access "refs/*"]
	owner = group user/Dileep Kumar (dilip1mone)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dileep Kumar (dilip1mone)
	label-Verified = -1..+1 group user/Dileep Kumar (dilip1mone)
	push = group user/Dileep Kumar (dilip1mone)
	read = group user/Dileep Kumar (dilip1mone)
	rebase = group user/Dileep Kumar (dilip1mone)
	removeReviewer = group user/Dileep Kumar (dilip1mone)
	submit = group user/Dileep Kumar (dilip1mone)
[access "refs/heads/*"]
	create = group user/Dileep Kumar (dilip1mone)
	push = +force group user/Dileep Kumar (dilip1mone)
	pushMerge = group user/Dileep Kumar (dilip1mone)
	read = group user/Dileep Kumar (dilip1mone)
[access "refs/tags/*"]
	push = group user/Dileep Kumar (dilip1mone)
	push = +force group user/Dileep Kumar (dilip1mone)
